*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: hsl(47,88%,63%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card{
    background-color: hsl(0, 0%,100%);
    width: 200px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid hsl(0, 0%, 7%);
    box-shadow: 8px 8px 0px hsl(0,0%,7%);
}
.img img{
    
    width: 95%;
    margin-top: -10px;
}
.card span{
    background-color:hsl(47,88%,63%);
    border-radius: 4px;
    margin-top: 10px;
    padding: 0  10px ;


        
}
.tag{
    display: block;
    margin-bottom: 80px;
    padding: 10px 20px;
    width: 30px;
}
p{
    font-size: 10px;
    margin-top: 10px;
}
h3{
    max-width: 1000px;
    margin-top: 20px;
    font-weight:100px;
    font-size: medium;
}
.author {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
    
}
.author p{
    font-weight: 800;
    font-size: 10px;
}